# python

# lab1

In [1]:
##basic

In [2]:
if(5>2):
 print(" 5 is greater than 2")

 5 is greater than 2

In [4]:
if(4>3):
       print(" yes")
       print("1")     
if(5>2):
 print("2")

 yes
1
2

In [6]:
if(5>2):
 print(" 5 is greater than 2")
 print(" 5 is greater than 2")

 5 is greater than 2
 5 is greater than 2

In [11]:
x=5
y='ishu'
print(type(y))
print(x+45)

<class 'str'>
50

In [12]:
x=4 # x is of int type
x="shikha" # now x is of string type
print(type(x))
y=2
y="shikha"
print(y)

<class 'str'>
shikha

In [13]:
x=int(3)
y=str("3")
z=3.1
print(x)
print(y)
print(z)
print(type(z))
print(type(x))
print(complex(z))
print(type(int(y)))

3
3
3.1
<class 'float'>
<class 'int'>
(3.1+0j)
<class 'int'>

In [14]:
print(type(y))

<class 'str'>

In [15]:
b=type(int(y))
print(type(b))

<class 'type'>

In [17]:
a=x,y,z=b="orange","banana","cherry"
print(x)
print(a)
print(y)
print(z)
print(b)

orange
('orange', 'banana', 'cherry')
banana
cherry
('orange', 'banana', 'cherry')

In [18]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [20]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [21]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:ishu kmumar
Username is: ishu kmumar

In [27]:
username = input("Enter username:")
print("Username is: " + username)
a=username
print(username)
print(a)

Enter username:1+3
Username is: 1+3
1+3
1+3

In [30]:
username = input(int("Enter username:"))
print("Username is: " + username)

ValueError: invalid literal for int() with base 10: 'Enter username:'

In [28]:
#Convert from one type to another:#
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [29]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [1]:
#Create a tupel:
thislist = ("apple", "banana", "cherry")
print(thislist)

('apple', 'banana', 'cherry')

In [31]:
#Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [33]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [34]:
thisdict = { "brand": "Ford", "model": "Mustang","year": 1964}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# main exprement

In [37]:
#data type
a=5
b='ishu'
c=6.7
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [2]:
# Write a program to compute distance between two points taking input from the user
import math
x1=int(input('enter x1 '))
x2=int(input('enter x2 '))
y1=int(input('enter y1 '))
y2=int(input('enter y2 '))

sum = (( (x2 - x1)**2 +  (y2 - y1)**2 )**0.5)
print(sum)

enter x1 5
enter x2 10
enter y1 5
enter y2 10
7.0710678118654755

In [40]:
#Write a program add.py that takes 2 numbers as input from user and prints its sum.

x1=int(input('enter x1 '))
x2=int(input('enter x2 '))

sum= x1+x2
print(sum)

enter x1 1
enter x2 2
3