# exp3

In [4]:
this=('sd','e','e','ss')
print(len(this))

4

In [5]:
print(this[1])

e

In [7]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [9]:
x = ("apple", "banana", "cherry")
y=list(x)
y[1] = "kiwi"
print(y)

['apple', 'kiwi', 'cherry']

In [10]:
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [11]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [12]:
a=set('a')
print(a)

{'a'}

In [13]:
a.add('h')

In [14]:
a

{'a', 'h'}

In [30]:
sum=0
num=int(input('enter the no'))
temp=num
ouder=len(str(num))

while(temp>0):
    r=temp%10
    sum=sum + r**ouder
    temp=temp//10
    
if (num==sum):
    
    print(sum)
else:
    print('not a armstrong')
    print(sum)

enter the no153
153

In [32]:
sum=0
num=int(input('enter the no'))
temp=num
ouder=len(str(num))

while(temp>0):
    r=temp%10
    sum=sum*10 + r
    temp=temp//10
    
if (num==sum):
    
    print(sum)
else:
    print('not a paladrom')
    print(sum)

enter the no101
101