# Spark SQL
pip install pyspark[sql]
# pandas API on Spark
pip install pyspark[pandas_on_spark] plotly  # to plot your data, you can install plotly together.
# Spark Connect
pip install pyspark[connect]

!pip install pyspark

PYSPARK_HADOOP_VERSION=3 pip install pyspark

In [ ]:
# import os
# import pandas as pd
# import numpy as np

# from pyspark import SparkConf, SparkContext
# from pyspark.sql import SparkSession, SQLContext

# from pyspark.sql.types import *
# import pyspark.sql.functions as F
# from pyspark.sql.functions import udf, col

# from pyspark.ml.regression import LinearRegression
# from pyspark.mllib.evaluation import RegressionMetrics

# from pyspark.ml.tuning import ParamGridBuilder, CrossValidator, CrossValidatorModel
# from pyspark.ml.feature import VectorAssembler, StandardScaler
# from pyspark.ml.evaluation import RegressionEvaluator

In [1]:
#starting from hear

In [2]:
import pyspark

In [3]:
import findspark

findspark.init()
findspark.find()

'C:\\spark\\spark-3.3.2-bin-hadoop2'

In [4]:
from pyspark.sql import SparkSession

spark =SparkSession.builder.appName('hi').getOrCreate()

In [5]:
spark

In [6]:
#read the dataset

In [15]:
df_pyspark=spark.read.option('header','true').csv('Salary_Data.csv').show()

+---------------+--------+
|YearsExperience|  Salary|
+---------------+--------+
|            1.1|39343.00|
|            1.3|46205.00|
|            1.5|37731.00|
|            2.0|43525.00|
|            2.2|39891.00|
|            2.9|56642.00|
|            3.0|60150.00|
|            3.2|54445.00|
|            3.2|64445.00|
|            3.7|57189.00|
|            3.9|63218.00|
|            4.0|55794.00|
|            4.0|56957.00|
|            4.1|57081.00|
|            4.5|61111.00|
|            4.9|67938.00|
|            5.1|66029.00|
|            5.3|83088.00|
|            5.9|81363.00|
|            6.0|93940.00|
+---------------+--------+
only showing top 20 rows

In [16]:
df_pyspark=spark.read.option('header','true').csv('Salary_Data.csv',inferSchema=True)

In [17]:
df_pyspark.printSchema()

root
 |-- YearsExperience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.columns

['YearsExperience', 'Salary']

In [22]:
df_pyspark.head(3)

[Row(YearsExperience=1.1, Salary=39343.0),
 Row(YearsExperience=1.3, Salary=46205.0),
 Row(YearsExperience=1.5, Salary=37731.0)]

In [23]:
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [24]:
df_pyspark.select('YearsExperience')

DataFrame[YearsExperience: double]

In [25]:
df_pyspark.select('YearsExperience').show()

+---------------+
|YearsExperience|
+---------------+
|            1.1|
|            1.3|
|            1.5|
|            2.0|
|            2.2|
|            2.9|
|            3.0|
|            3.2|
|            3.2|
|            3.7|
|            3.9|
|            4.0|
|            4.0|
|            4.1|
|            4.5|
|            4.9|
|            5.1|
|            5.3|
|            5.9|
|            6.0|
+---------------+
only showing top 20 rows

In [26]:
df_pyspark.select(['YearsExperience','Salary'])

DataFrame[YearsExperience: double, Salary: double]

In [27]:
df_pyspark.describe()

DataFrame[summary: string, YearsExperience: string, Salary: string]

In [28]:
df_pyspark.describe().show()

+-------+------------------+------------------+
|summary|   YearsExperience|            Salary|
+-------+------------------+------------------+
|  count|                30|                30|
|   mean|5.3133333333333335|           76003.0|
| stddev| 2.837888157662718|27414.429784582302|
|    min|               1.1|           37731.0|
|    max|              10.5|          122391.0|
+-------+------------------+------------------+